#about {
  background-color: #2a2a2a;
  min-height: max-content;
}

.about-section {
  flex-wrap: wrap;
}

.image-column,
#about .column {
  flex: 1;
  margin-right: 20px;
}

.image-column img {
  max-width: 100%;
  min-width: 100%;
  height: auto;
}

#about .content-column {
  flex: 1;
}

.content-column h2,
#about .content-column .build,
#about .two-column .key {
  text-transform: uppercase;
  font-weight: bold;
}

.content-column h2 {
  font-size: 2rem;
  color: var(--theme-primary-color);
}

#about .content-column .build {
  font-family: poppins;
  font-size: 4rem;
  line-height: 1.2em;
}

#about .two-column .description {
  font-size: 1.7rem;
}

#about .column:last-child {
  margin-right: 0;
}
