/* ::-webkit-scrollbar {
  width: 0.8rem;
}
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--purple);
}
::-webkit-scrollbar-track {
  background-color: var(--black);
}
.swiper-pagination-bullet {
  height: 1rem;
  width: 1rem;
  border-radius: 50rem;
  background-color: var(--grey);
}
.swiper-pagination-bullet-active {
  width: 3rem;
  background: var(--purple);
}
.heading {
  margin-bottom: 2rem;
}
.heading h2 {
  padding-bottom: 2rem;
  color: var(--purple);
  font-size: 4rem;
}
.heading h2 span {
  position: relative;
  z-index: 0;
  color: var(--white);
}
.btn,
.home .content h1 span,
.home .content h2,
header #menu-btn:hover,
header .logo h2,
header .navbar a.active,
header .navbar a:hover {
  color: var(--purple);
}
.heading h2 span::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  z-index: -1;
  background: var(--purple);
  height: 0.2rem;
  width: 80%;
  margin-left: 10%;
}
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  background-color: transparent;
  border: 0.2rem solid var(--purple);
}
.home,
.service-item,
footer .social .fab {
  background-color: var(--black);
}
.btn i {
  padding-left: 1rem;
}
.btn:hover {
  color: var(--white);
  background-color: var(--purple);
  cursor: pointer;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: 0 0;
  transition: 0.5s linear;
  z-index: 999;
}
header.sticky {
  border-bottom: 0.1rem solid var(--grey);
  background: rgba(0, 0, 0, 0.8);
}
header .logo h2 {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
header .navbar a {
  color: var(--white);
  font-size: 1.8rem;
  margin-left: 1rem;
}
header #menu-btn {
  font-size: 3rem;
  color: var(--white);
  cursor: pointer;
  transition: 0.5s linear;
  display: none;
}
header .fa-times {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.home {
  padding: 0 5%;
  min-height: 100vh;
}
.home .box-container {
  min-height: 100vh;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 4rem;
}
.home .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
}
.home .image img {
  height: 40rem;
  width: 40rem;
  border-radius: 50%/30% 30% 70% 70%;
  object-fit: cover;
}
.home .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 7rem;
}
.about .box-container,
.about .content .about-info,
.counting {
  display: -webkit-box;
  display: -ms-flexbox;
}
.home .content h2 {
  font-size: 2.5rem;
  font-weight: 400;
}
.home .content h1 {
  font-size: 4rem;
  color: var(--white);
  padding: 1rem 0;
}
.home .content p {
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--white);
  padding-bottom: 2rem;
  line-height: 1.5;
}
.about .box-container {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 0;
}
.about .image {
  width: 32rem;
}
.about .image img {
  width: 100%;
  border: 1rem solid var(--purple);
}
.about .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 55rem;
  flex: 1 1 55rem;
}
.about .content h2 {
  font-size: 3rem;
  color: var(--white);
  padding-bottom: 1rem;
}
.about .content > p {
  font-size: 1.6rem;
  color: var(--grey);
  line-height: 1.6;
  padding-bottom: 1rem;
}
.about .content .about-info {
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1rem;
}
.about .content .about-info .info {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 15rem;
  flex: 1 1 15rem;
}
.about .content .about-info .info h4 {
  font-size: 1.6rem;
  color: var(--white);
  padding-bottom: 1rem;
}
.about .content .about-info .info span {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--grey);
}
.about .content .about-info .info .btn,
.blog-item .btn,
.contact-form .btn {
  margin-top: 1rem;
}
.counting {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 35rem;
  flex: 1 1 35rem;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1rem;
}
.qualification .box-container,
.skill-item .box h3,
.skills {
  display: -webkit-box;
  display: -ms-flexbox;
}
.counting .box {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 18rem;
  flex: 1 1 18rem;
  background-color: #222;
  padding: 2rem;
}
.counting .box .count {
  font-size: 3.5rem;
  color: var(--purple);
  padding-bottom: 0.5rem;
}
.contact-info .info-item h4,
.counting .box h3 {
  font-size: 1.8rem;
  color: var(--white);
}
.skill-container {
  padding: 2rem 0;
}
.skills {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.skill-item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 30rem;
  flex: 1 1 30rem;
  margin-right: 1.5rem;
}
.contact-info .info-item,
.skill-item .box {
  padding: 1rem 0;
}
.skill-item .box h3 {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.7rem 0;
  font-size: 1.7rem;
  color: var(--white);
  font-weight: 400;
}
.skill-item .box .progress-bar {
  width: 100%;
  background: #222;
  overflow: hidden;
  height: 1rem;
  border-radius: 50rem;
}
.controls .button.active,
.service-item:hover,
footer {
  background-color: var(--purple);
}
.skill-item .box .progress-bar span {
  display: block;
  height: 100%;
  background: var(--purple);
}
.skill-item.item1 .box:first-child .progress-bar span {
  width: 95%;
}
.skill-item.item1 .box:nth-child(2) .progress-bar span {
  width: 90%;
}
.skill-item.item1 .box:nth-child(3) .progress-bar span,
.skill-item.item1 .box:nth-child(8) .progress-bar span {
  width: 85%;
}
.skill-item.item1 .box:nth-child(4) .progress-bar span,
.skill-item.item2 .box:first-child .progress-bar span,
.skill-item.item2 .box:nth-child(4) .progress-bar span {
  width: 75%;
}
.skill-item.item1 .box:nth-child(5) .progress-bar span,
.skill-item.item2 .box:nth-child(8) .progress-bar span {
  width: 70%;
}
.skill-item.item1 .box:nth-child(6) .progress-bar span,
.skill-item.item2 .box:nth-child(2) .progress-bar span,
.skill-item.item2 .box:nth-child(5) .progress-bar span {
  width: 65%;
}
.skill-item.item1 .box:nth-child(7) .progress-bar span,
.skill-item.item2 .box:nth-child(3) .progress-bar span,
.skill-item.item2 .box:nth-child(6) .progress-bar span,
.skill-item.item2 .box:nth-child(7) .progress-bar span {
  width: 60%;
}
.qualification .box-container {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 4rem;
}
.education,
.experience {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
}
.experience-item {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  padding: 0 3rem 2rem;
  border-left: 0.2rem solid var(--purple);
  margin-left: 2rem;
}
.controls,
.service .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
}
.experience-item i {
  position: absolute;
  top: 0;
  left: -2.5rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  color: var(--white);
  background: var(--purple);
}
.experience-item .content {
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  border-left: 2rem;
}
.experience-item span {
  background: #222;
  color: var(--white);
  padding: 0.5rem 1.5rem;
  font-size: 1.8rem;
  border-radius: 50rem;
}
.experience-item h3 {
  font-size: 2.5rem;
  color: var(--white);
  padding: 2rem 0;
}
.experience-item p {
  color: var(--grey);
  font-size: 1.6rem;
  line-height: 2.5rem;
}
.service-item h3,
.service-item i,
.service-item:hover p {
  color: var(--white);
}
.service .box-container {
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.service-item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 33rem;
  flex: 1 1 33rem;
  padding: 4rem 3rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}
.service-item i {
  font-size: 4rem;
}
.service-item h3 {
  font-size: 2rem;
  padding: 1.5rem 0;
}
.service-item p {
  font-size: 1.6rem;
  color: var(--grey);
  line-height: 1.6;
}
.blog-item .content .intro h5,
.testi-item p {
  font-size: 1.5rem;
}
.controls {
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 2rem;
}
.controls .button {
  cursor: pointer;
  margin: 0.5rem;
}
.controls .button.active {
  cursor: pointer;
  color: var(--white);
}
.portfolio .box-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  gap: 0.5rem;
  padding: 2rem 0;
}
.portfolio-item {
  border-radius: 0.5rem;
  height: 25rem;
  overflow: hidden;
  position: relative;
}
.blog-item .image img,
.portfolio-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.portfolio-item .content {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.portfolio-item .content h4,
.portfolio-item .content p {
  -webkit-transform: translateY(-10rem);
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  opacity: 0;
}
.portfolio-item .content h4 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--purple);
  transform-origin: top;
  transform: translateY(-10rem);
  padding-bottom: 1rem;
  transition: 0.4s linear;
}
.portfolio-item .content p {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--white);
  transform-origin: top;
  transform: translateY(-10rem);
  transition: 0.4s linear;
}
.portfolio-item .content .view-btn {
  font-size: 2rem;
  color: var(--purple);
  transform-origin: top;
  -webkit-transform: translateY(-10rem);
  transform: translateY(-10rem);
  opacity: 0;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  border-radius: 5rem;
  margin-top: 1.5rem;
}
.portfolio-item:hover .content {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.portfolio-item:hover .content .view-btn,
.portfolio-item:hover .content h4,
.portfolio-item:hover .content p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.blog-item:hover .image img,
.portfolio-item:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.mfp-newspaper .mfp-with-anim {
  opacity: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: scale(0) rotate(500deg);
  transform: scale(0) rotate(500deg);
}
.mfp-newspaper.mfp-bg {
  opacity: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.mfp-newspaper.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
  transform: scale(1) rotate(0);
}
.mfp-newspaper.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-newspaper.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(0) rotate(500deg);
  transform: scale(0) rotate(500deg);
  opacity: 0;
}
.mfp-newspaper.mfp-removing.mfp-bg {
  opacity: 0;
}
.blog-slider,
.testimonial-slider {
  position: relative;
  padding-bottom: 4rem;
  overflow: hidden;
}
.testi-item {
  border: 0.1rem solid var(--grey);
  border-radius: 0.5rem;
  padding: 4rem 2rem;
}
.testi-item:hover {
  border-color: var(--purple);
}
.testi-item img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: 0.5rem solid var(--white);
}
.testi-item .fa-quote-left {
  display: block;
  font-size: 3rem;
  color: var(--white);
  margin: 1rem 0;
}
.testi-item p {
  color: var(--grey);
  line-height: 1.5;
}
.testi-item .intro {
  margin: 1rem 0;
}
.testi-item .intro h3 {
  font-size: 2rem;
  color: var(--white);
  padding-bottom: 0.5rem;
}
.testi-item .intro h5 {
  color: var(--purple);
  font-size: 1.4rem;
  font-weight: 400;
}
.blog-item {
  background-color: #222;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
}
.blog-item .image {
  height: 25rem;
  overflow: hidden;
}
.blog-item .content {
  padding: 2rem 1rem;
}
.blog-item .content .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 0.2rem solid var(--grey);
  padding: 1rem 0;
  margin-bottom: 1.5rem;
}
.blog-item .content .intro h5 i {
  color: var(--purple);
  padding-right: 0.5rem;
}
.blog-item .content .intro h5 span,
.blog-item p {
  color: var(--grey);
}
.blog-item .content .main-heading {
  font-size: 2rem;
  font-weight: 700;
  color: var(--white);
}
.blog-item p {
  padding: 1rem 0;
  font-size: 1.6rem;
}
.contact .alert {
  font-size: 2rem;
  color: var(--purple);
  border-radius: 0.5rem;
  padding-left: 1rem;
}
.contact .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
}
.contact-form,
.contact-info {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}
.contact-info h3 {
  font-size: 3rem;
  color: var(--white);
}
.contact-form .box,
.contact-info .info-item .detail p,
.contact-info > p {
  font-size: 1.6rem;
  color: var(--grey);
}
.contact-info > p {
  padding: 0.5rem 0;
}
.contact-info .info-item .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contact-info .info-item .detail .fab,
.contact-info .info-item .detail .fas {
  border-radius: 50%;
  color: var(--purple);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.5rem;
}
footer .social,
footer .social .fab {
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
}
.contact-info .info-item .detail p {
  line-height: 1.6;
  padding-left: 1rem;
}
.contact-form .box {
  width: 100%;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin: 0.5rem 0;
  background-color: #222;
}
.scroll-top:hover,
footer .content p span {
  color: var(--black);
}
.contact-form .box:focus {
  border-color: var(--white);
}
.contact-form .box::placeholder {
  color: var(--grey);
}
.contact-form textarea {
  height: 15rem;
  resize: none;
}
footer {
  padding: 2rem 0;
}
footer .social {
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2rem 0;
}
footer .social .fab {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  color: var(--white);
  font-size: 2rem;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0.5rem;
}
footer .social .fab:hover {
  color: var(--black);
  background-color: var(--white);
}
footer .content p {
  font-size: 2rem;
  color: var(--white);
}
.scroll-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  height: 5rem;
  width: 5rem;
  font-size: 3rem;
  font-weight: lighter;
  background: var(--black);
  color: var(--white);
  border: 0.2rem solid var(--white);
  border-radius: 50%;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.scroll-top:hover {
  background: var(--white);
}
.gmail a:link,
.linkedin a:link,
.onlinejobs a:link,
.telephone a:link {
  color: #fff;
} */
