.contact-item,
.contact-item2,
.contact-section,
.three-column {
  background-color: #13121a;
}
.contact-section {
  min-height: max-content;
  gap: 20px;
  padding: 2rem;
  z-index: 0;
}
.brief-description {
  flex-direction: column;
  margin: 2rem;
}
.description-wrapper,
.title-wrapper {
  text-align: center;
  margin: 10px;
}

.contact-wrapper {
  width: 33.3%;
}
.contact-two-column {
  display: flex;
}
.contact-two-column .contact-service-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  min-width: 80px;
  background-color: #44cbe1;
  border-radius: 50%;
  margin-right: 2em;
}
.contact-two-column-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-service-icon {
  width: 50%;
}
.contact-column-form {
  width: 50%;
}
#map {
  height: 400px;
  width: 100%;
}
