@media (max-width: 768px) {
  body {
    font-size: 13px;
  }
  #portfolio {
    height: max-content;
  }
  .hamburger {
    display: block;
  }
  .navbar {
    display: none;
  }
  .centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .centered-content .fullname {
    font-size: 3rem;
    line-height: 0.1;
  }
  .centered-content p {
    font-size: 1.5rem;
  }
  .centered-content .brief {
    font-size: 1.2rem;
  }
  header .logo h2 {
    font-size: 1.1rem;
    font-weight: 700;
    font-family: poppins;
  }
  .rounded-image {
    max-width: 150px;
    object-fit: cover;
    object-position: center;
    width: 150px;
    height: auto;
    aspect-ratio: 1/1;
  }
  .column,
  .image-column,
  .personality-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .about-section,
  .skills {
    flex-direction: column;
  }
  .two-column {
    display: block !important;
  }
  #about .content-column .build,
  #skills .build {
    font-size: 2.8rem;
  }
  #about .download {
    text-align: center;
  }
  .content-column,
  .graph-skill {
    padding: 0;
    flex: 0;
    width: 100% !important;
  }
  .service-item {
    flex-basis: 100%;
    max-width: calc(100%);
    margin: 2em !important;
  }
  .service-icon-box {
    padding: 6rem 4rem;
    margin: 0 2rem;
  }
  .service-wrapper {
    margin: 0 1em !important;
  }
  .service-item::before {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 15px;
    left: 23px;
    width: 95%;
    height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    /* border: 1px solid #fff; */
    opacity: 1;
    transition: background-color 0.3s;
    z-index: -1;
  }
  .service-item:hover::before {
    background-color: #44cbe1;
    transform: rotate(-7deg);
  }
  .service-item:hover {
    transform: rotate(-7deg);
  }
  .experience-item {
    padding: 0;
  }
  .experience-item h3 {
    padding: 0;
    font-size: 2rem;
  }
  .experience-item .content {
    padding: 1rem;
  }
  .portfolio .box-container {
    grid-template-columns: 1fr;
  }
  .portfolio-item {
    /*This is to check if pull request is saved*/
    height: 35rem;
    margin: 1rem;
  }
  .testimonial .swiper-slide {
    width: 100%;
  }
  .testi-item {
    padding: 1em 0;
  }
  .testimonial p.comment {
    padding: 1rem;
  }
  .testimonial h4 {
    font-size: 1.3rem;
  }
  .blog-item p {
    padding: 1rem;
  }

  /************Contact Section************/
  .contact-wrapper {
    width: 100%;
  }
  #contact .contact-two-column {
    margin: 2rem 0;
    justify-content: left;
    padding: 0.1em 0em;
  }
  .contact-two-column .contact-service-icon {
    margin-right: 4.5em;
    margin-left: 3em;
  }
}
@media (min-width: 768px) {
  .service-item {
    flex-basis: calc(33.33% - 30px);
    max-width: calc(33.33% - 30px);
  }
  .service-icon-box {
    padding: 100px 20px;
  }
  .portfolio .box-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .service-item::before {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 15px;
    left: 23px;
    width: 95%;
    height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    border: 1px solid #fff;
    opacity: 1;
    transition: background-color 0.3s;
    z-index: -1;
  }
  .service-item:hover::before {
    background-color: #44cbe1;
    transform: rotate(-7deg);
  }
  .service-item:hover {
    transform: rotate(-7deg);
  }
  .service-wrapper {
    margin: 4em 1em;
  }
  .testi-item {
    min-height: 350px;
    max-height: 350px;
  }
  .testimonial h4 {
    font-size: 1.3rem;
  }
  .services-wrapper {
    margin-top: 6rem;
  }

  /****************Contact Section****************/
  .contact-three-column {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  #contact .contact-two-column {
    display: flex;
    /* justify-content: center; */
  }
}
