.services-section {
  padding: 40px 0;
  background-color: #13121a;
}
.services-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
.service-item {
  flex: 1 0 100%;
  max-width: 100%;
  padding: 0 15px;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}
.service-icon-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  background-color: #fff;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.service-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #44cbe1;
  border-radius: 50%;
  position: absolute;
  top: -35px;
}
.service-icon-inner {
  font-size: 30px;
  color: #333;
}
.service-content {
  margin-top: 20px;
}
.service-title {
  color: #333;
  line-height: 3rem;
}
.service-description {
  color: #333;
}
