/* #testimonial {
  background-image: url("../images/Testimonials/testimonial-background.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
:root {
  --black: #000000;
  --white: #ffffff;
  --grey: #dfdfde;
  --margin: 20px;
  --theme-primary-color: #44cbe1;
  --theme-background-color-main: #222222;
  --neural-background-color: #2e313e;
}
.swiper-pagination-bullet {
  height: 1rem;
  width: 1rem;
  border-radius: 50rem;
  background-color: var(--grey);
}
.swiper-pagination-bullet-active {
  width: 3rem;
  background: var(--theme-primary-color);
}
.blog-slider,
.testimonial-slider {
  position: relative;
  padding-bottom: 4rem;
  overflow: hidden;
}
.testi-item {
  text-align: center;
  border-radius: 0.5rem;
  padding: 4rem 2rem;
  background-color: #2f2f2f;
}
.testi-item:hover {
  border-color: var(--theme-primary-color);
}
.testi-item img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: 0.5rem solid var(--white);
}
.testi-item .fa-quote-left {
  display: block;
  font-size: 3rem;
  color: var(--white);
  margin: 1rem 0;
}
.testi-item p {
  color: var(--grey);
  line-height: 1.5;
}
.testi-item .intro {
  margin: 1rem 0;
}
.testi-item .intro h3 {
  font-size: 2rem;
  line-height: 2rem;
  color: var(--white);
  padding-bottom: 0.5rem;
}
.testi-item .intro h5 {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
} */

.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
  padding: 0;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #ff9800, #182860);
}
.slideshow-container .mySlides {
  min-height: 490px;
  display: none;
  padding: 30px 10px;
}
@media (min-width: 768px) {
  .slideshow-container .mySlides {
    min-height: 370px;
  }
}
@media (min-width: 768px) {
  .slideshow-container .mySlides {
    padding: 45px 35px;
  }
}
.slideshow-container .mySlides .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  text-align: center;
}
.slideshow-container .mySlides .text {
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  padding: 8px 4px;
}
@media (min-width: 768px) {
  .slideshow-container .mySlides .text {
    padding: 8px 12px;
  }
}
.slideshow-container .mySlides img {
  width: 60px;
  display: block;
  margin: 0 auto;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-radius: 24px 8px 24px 8px;
}
.slideshow-container .mySlides .designation {
  text-align: center;
  font-size: 14px;
  color: #000000;
}
.slideshow-container .bg1 {
  background: #44cbe1;
  background-image: url("../images/Testimonials/pen.png");
  /* fallback */
  background-image: url("../images/Testimonials/pen.png"),
    linear-gradient(315deg, #3bb1c3 0%, #39a9ba 74%);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}
.slideshow-container .bg2 {
  background: #44cbe1;
  background-image: url("../images/Testimonials/pen.png");
  /* fallback */
  background-image: url("../images/Testimonials/pen.png"),
    linear-gradient(315deg, #3bb1c3 0%, #39a9ba 74%);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}
.slideshow-container .bg3 {
  background: #44cbe1;
  background-image: url("../images/Testimonials/pen.png");
  /* fallback */
  background-image: url("../images/Testimonials/pen.png"),
    linear-gradient(315deg, #3bb1c3 0%, #39a9ba 74%);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}
.slideshow-container .prev,
.slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.slideshow-container .prev:hover,
.slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
