header {
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  transition: 0.5s linear;
  z-index: 999;
}

header #menu-btn:hover,
header .logo h2,
header .navbar a.active,
header .navbar a:hover {
  color: var(--theme-primary-color);
  transition: color 0.3s ease;
}

header.sticky {
  border-bottom: 0.1rem solid var(--grey);
  background: var(--theme-background-color-main);
}

header .logo h2 {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--white);
}

.navbar {
  background-color: transparent;
}

.navbar,
.logo,
.mobile-menu a {
  font-family: "Poppins", sans-serif;
  font-display: swap;
}

.navbar a,
.logo {
  text-decoration: none;
}

.navbar a {
  margin: 0rem 0.6rem;
}

.logo {
  margin-left: var(--margin);
}

header .navbar a {
  color: var(--white);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
}

/* Hamburger Icon Styles */
.hamburger {
  display: none;
  cursor: pointer;
  padding: 10px;
  background-color: transparent;
  border: none;
  outline: none;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--white);
  margin: 5px 0;
}

.hamburger.active {
  color: var(--white);
  font-size: 2rem;
}

/* Mobile Menu Styles */
.mobile-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  background-color: #ffffff;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 999;
  overflow: hidden;
}

.mobile-menu.active {
  transform: translateX(0);
  transition: transform 0.3s ease;
  display: block;
}

.mobile-menu a {
  display: block;
  padding: 15px;
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  border-bottom: 0.3px solid #f7f7f7;
}

/* Additional CSS for Sliding Effect */
.menu-open {
  overflow: hidden;
}

.navbar a.active {
  color: var(--theme-primary-color) !important; /* active link color */
}

.header.active {
  background-color: #222222; /* scrolled background color */
  border-bottom-color: #fff; /* scrolled bottom border color */
  box-shadow: 0 2px 14px rgba(253, 251, 251, 0.7); /* scrolled box shadow */
}
